cat <<EOF > .gitignore
# Anahtarlar ve Şifreler
*.jks
*.keystore
*.p12
*.key
local.properties
key.properties
serviceAccountKey.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
.env

# Derleme Dosyaları
/build/
/.dart_tool/
/.gradle/

# Sistem Dosyaları
.DS_Store
EOF