*.jks
*.keystore
*.p12
*.key
local.properties
key.properties
serviceAccountKey.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
.env
claude.json
android/app/google-services.json

/build/
/.dart_tool/
/.gradle/
.firebase/

.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages

.idea/
*.iml
.DS_Store
*.txt

# Claude çalışma dosyaları ve yapılandırmaları
claude_calisma
.claude